{
  "Actions": [
    {
      "Name": "Cast",
      "GroupName": "Actions",
      "Title": "Primary Attack",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "Attack2",
      "GroupName": "Actions",
      "Title": "Secondary Attack",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "Slot1",
      "GroupName": "Inventory",
      "Title": "Slot #1",
      "KeyboardCode": "1",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "Slot2",
      "GroupName": "Inventory",
      "Title": "Slot #2",
      "KeyboardCode": "2",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "Voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "None"
    },
    {
      "Name": "Menu",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "Chat",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    }
  ],
  "__guid": "4445038d-7dcc-43f3-9d02-07ba06789aa1",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}